* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;

    nav {
        width: 100%;
        height: 81px;
        background-color: rgba(255, 216, 110, 0.8);

        position: absolute;
        left: 0;
        top: 85%;

        .cotanier {
            width: 90%;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 180px;
                height: 61px;
                background-image: url(/image/baguettes-logo.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 60%;
            }

            .btn-group {
                width: 70%;
                height: 61px;
                display: flex;
                justify-content: flex-end;

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    display: flex;

                    li {
                        display: inline-block;
                        display: flex;
                        flex-direction: row;

                        a {
                            font-size: 18px;
                            font-weight: bold;
                            color: rgb(167, 123, 4);
                            text-decoration: none;
                            text-align: center;
                            padding: 20px;
                        }
                    }
                }
            }
            li a:hover {
                color: rgb(209, 153, 0);
                background-color: rgba(255, 242, 206, 0.788);
                border-radius: 10px;
            }

            li:nth-child(2) {
                margin: 0px 20px;
            }

            li:nth-child(3) {
                margin: 0px 20px 0 10px;
            }
        }
    }

    .full-page {
        width: 100%;
        height: 100vh;
        background-image: url(/image/baguettes-1.jpg);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 150%;
        opacity: 60%;

        position: relative;

        h1 {
            color: rgb(255, 255, 232);
            text-shadow: rgb(75, 75, 75);
            text-align: center;

            position: absolute;
            top: 27%;
            left: 6%;
        }
        span {
            font-size: 27px;
            font-weight: 500;
            color: rgb(255, 192, 140);

            position: absolute;
            top: 36%;
            left: 6%;
        }
        span:nth-child(2n) {
            font-size: 27px;
            font-weight: 500;
            color: rgb(54, 54, 54);

            position: absolute;
            top: 36.4%;
            left: 6.15%;
        }
    }

    main.parallax {
        width: 100%;
        min-height: 100%;
        background-color: rgb(255, 245, 233);

        #go-top {
            width: 44px;
            height: 82px;
            background-color: rgba(255, 216, 110, 0.541);
            border-radius: 28px 0px 0px 28px;
            writing-mode: vertical-rl;

            position: fixed;
            right: 0;
            top: 500px;
        }

        #go-top a {
            font-size: 18px;
            color: rgb(167, 123, 4);
            font-weight: 900;
            text-decoration: none;

            display: flex;
            justify-content: center;
            padding: 0px 7px;
        }

        .cotanier {
            width: 75%;
            height: 100%;
            margin: auto;

            .page {
                height: 810px;
                padding: 91px 0px 0px 0px;
            }

            .img {
                width: 250px;
                height: 250px;
                margin: 0px 30px;
            }

            .text-area {
                width: 250px;
                height: 250px;
                color: rgb(107, 107, 107);
                font-weight: bold;
                margin: 0px 0px 0px 50px;

                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-between;
            }

            /* page-one  */
            #page-one {
                display: flex;
                justify-content: center;
                align-items: center;

                .contant {
                    display: flex;
                    justify-content: center;

                    .img {
                        margin: 0px 60px 0px 0px;
                        background-image: url(/image/baguettes-2.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 155%;
                    }

                    .text-area {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        text-align: left;

                        h2 {
                            letter-spacing: 2px;
                        }
                        span {
                            font-size: 18px;
                            letter-spacing: 1px;
                            color: rgb(156, 165, 173);
                            margin: 15px 0;
                        }
                    }
                }
            }

            /* page-third */
            #page-third {
                position: relative;

                #page-third-anchor {
                    position: absolute;
                    top: -61px;
                    left: 0;
                }

                .contant {
                    width: 836.5px;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 20px;

                    .img {
                        background-image: url(/image/baguettes-3.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 160%;
                    }
                }
                .contant:nth-child(2n) {
                    flex-direction: row-reverse;

                    .img:nth-child(2n) {
                        background-image: url(/image/baguettes-4.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }

            #page-fourth {
                background-image: url(https://e3.365dm.com/21/02/1600x900/2372102180272740807_5277187.jpg?bypass-service-worker&20210218194310);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
    
    /* page-second */
    #page-second {
        width: 100%;
        height: 710px;
        background-color: rgba(255, 216, 110, 0.8);
        display: flex;

        .P2-img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;

            span {
                font-size: 22px;
                letter-spacing: 1px;
                color: rgb(156, 165, 173);

                position: absolute;
                left: 35px;
                top: 100px;
            }
        }
        #left {
            background-image: url(/image/wooden-board.jpg);
            background-position: right;
        }

        #right {
            background-image: url(/image/Chilli-beef-baguettes.jpg);
            background-position: left;
        }
    }

    footer {
        width: 100%;
        height: 191px;
        background-color: rgb(228, 219, 188);
        position: relative;
        bottom: 0px;

        .footer-text-style {
            height: 51px;
            font-size: 12px;
            color: rgb(148, 147, 147);
            text-align: center;
        }
    }
}

// @media (max-width: 960px) {
//     nav .cotanier {
//         justify-content: center;
//     }

//     #page-one .cotanier {
//         flex-direction: column;
//     }

//     #page-second .cotanier {
//         flex-wrap: unset;
//     }

//     #page-third .cotanier {
//         flex-direction: column;
//     }

//     #page-third {
//         flex-direction: column;
//     }

//     #page-third .page {
//         height: unset;
//     }

//     #page-third #left,
//     #page-third #right {
//         width: 100%;
//     }
// }
