* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

li a {
    font-size: 18px;
    font-weight: bold;
    color: rgba(134, 133, 133, 0.973);
}

li a:hover {
    color: rgba(255, 255, 255, 0.973);
    background-color: rgb(204, 204, 204);
}

li:nth-child(2) {
    margin: 0px 20px;
}

li:nth-child(3) {
    margin: 0px 20px 0 10px;
}


nav {
    width: 100%;
    height: 91px;
    background-color: rgba(255, 250, 236, 0.8);
    position: absolute;
    top: 0;
}

main {
    width: 100%;
    min-height: 100%;
    padding: 91px 0px 0px 0px;

}

.cotanier {
    width: 70%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.parallax .cotanier {
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 250, 236); */
    background-image: url(./image/baguettes-1.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 150%;
    position: relative;
}

h2 {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    top: 27%;
    left: 6%
}


.page {
    width: 100%;
    height: 810px;
}

.img {
    width: 230px;
    height: 230px;
    /* background-color: gray; */
    margin: 0px 15px 0px 0px;
}

.text-area {
    width: 230px;
    height: 230px;
    /* background-color: rgb(22, 122, 2); */
    font-size: 18px;
    font-weight: bold;
    color: rgb(73, 73, 73);
    text-align: center;
    margin: 0px 0px 0px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.btn-group {
    width: 100%;
    height: 61px;
    background-color: rgb(255, 250, 236);
    /* position: absolute; */
    top: -100px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.btn-group .cotanier {
    justify-content: space-between;
}

/* nav */
nav .cotanier {
    height: 100%;
    align-items: flex-start;
    /* justify-content: start; */
}

.logo {
    width: 180px;
    height: 63px;
    /* background-color: rgb(150, 149, 149); */
    background-image: url(./image/baguettes-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

/* page-one  */
#page-one {
    background-color: rgb(255, 250, 236);
}

#page-one .cotanier {
    flex-direction: row;
    /* justify-content: center; */
}

#page-one .img {
    background-image: url(./image/baguettes-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 155%;

}

#page-one .text-area {
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* page-second */
#page-second {
    display: flex;
}

#left {
    width: 50%;
    height: 100%;
    /* background-color: rgb(1, 53, 150); */
    background-image: url(./image/wooden-board.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#right {
    width: 50%;
    height: 100%;
    /* background-color: rgb(0, 80, 228); */
    background-image: url(https://image.freepik.com/free-photo/tasty-breakfast-appetizing-croissant-with-salami-cheese-tomatoes_2829-5528.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* page-third */
#page-third {
    background-color: rgb(255, 250, 236);
    position: relative;
}

#page-third-anchor {
    position: absolute;
    top: -61px;
    left: 0;
}

.imgntext {
    width: 836.5px;
    display: flex;
    justify-content: space-around;
}

.imgntext:nth-child(2) {
    flex-direction: row-reverse;
}

.imgntext .img {
    background-image: url(./image/baguettes-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160%;
}

.imgntext .img:nth-child(1N) {
    background-image: url(./image/baguettes-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#page-fourth {
    /* background-color: rgb(255, 250, 236); */
    background-image: url(https://e3.365dm.com/21/02/1600x900/2372102180272740807_5277187.jpg?bypass-service-worker&20210218194310);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#go-top {
    width: 44px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 28px 0px 0px 28px;
    writing-mode: vertical-rl;

    position: fixed;
    right: 0;
    top: 500px;
}


#go-top a {
    font-size: 18px;
    color: teal;

    display: flex;
    justify-content: center;
    padding: 0px 7px;
}

footer {
    width: 100%;
    height: 191px;
    background-color: rgb(228, 219, 188);
    position: relative;
    bottom: 0px;
}

.footer-text-area {
    height: 51px;
    font-size: 14px;
    color: rgb(73, 73, 73);
    text-align: center;
}

#outsidebody {
        z-index: 1;
        height: 10000px;
        position: relative;
    }

    #inlinebody {
        z-index: 0;
    }

@media(max-width:960px) {
    nav .cotanier {
        justify-content: center;
    }

    #page-one .cotanier {
        flex-direction: column;
    }

    #page-second .cotanier {
        flex-wrap: unset;
    }

    #page-third .cotanier {
        flex-direction: column;
    }

    #page-third {
        flex-direction: column;
    }

    #page-third .page {
        height: unset;
    }

    #page-third #left,
    #page-third #right {
        width: 100%;
    }
}